<header></header>
<div class="container-fluid">
	<div class="row">
		<user [userId]="0" [style]="'small'">
		</user>
		<br/>
		<div id='calendar'>
			<iframe src="https://calendar.google.com/calendar/b/2/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FNew_York" style="border-width:0" width="300" height="300" frameborder="0" scrolling="no"></iframe>
		</div>

		<div *ngIf="!searchMode" class="col-6" id='mainSide'>
			<div id='smallEvent'>
				<h1 id="titleNews">Cure small hunger</h1>
				<div id="img_wrapper" class="content-padding clearfix">
					<hr><div class="eventImg">
					<a href="organization.html">
						<img align="middle" class="img" src="assets/images/eater.png">
						<div class="info-overlay">
							<h3>Test</h3>
							<h4>View more...<i class="fa fa-arrow-right"></i></h4>
						</div>
					</a>
				</div>
				</div>
			</div>
			<br/><br/>
			<div id='smallEvent'>
				<h1 id="titleNews" >Cure big hunger {{ title }}</h1>
				<div id="img_wrapper" class="content-padding clearfix">
					<div class="eventImg">
						<a href="#">
							<img class="img" src="assets/images/starEater.png">
							<div class="info-overlay">
								<h3>Test</h3>
								<h4>View more<i class="fa fa-arrow-right"></i></h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<results class="col-6" id="mainSide" *ngIf="searchMode" [settings]="searchState">
		</results>
		<div class="col">
			<div id = 'rightHandSide'>
				<search-filter (update)="handleSearch($event)">
				</search-filter>
			</div>
		</div>
	</div>
</div>
