<header></header>
<div *ngIf="profileView" class="container-fluid">
	<div class="row">
		<div class="col" id ='leftHandSide'>
			<div id = 'options'>
				<div id = 'individualOption'>
					<a href="#home" (click)="changeProfileView()">
						<img src="assets/images/home.png" width="25" height = "25">
						Home
					</a><hr>
				</div>
				<div id = 'individualOption1'>
					<a href="something">
						<img src="assets/images/friends.png" width="30" height = "30">
						Friends list
					</a><hr>
				</div>
				<div id = 'individualOption2'>
					<a href="something">
						<img src="assets/images/settings.png" width="30" height = "30">
						Settings
					</a><hr>
				</div>
				<div id = 'individualOption3'>
					<p>Rank</p>
					<img src="assets/images/panda.png" width="50" height = "50">
					<p><img src="assets/images/medal.png" width="30" height = "30">Points: 69</p>
					<hr>
				</div>
				<div>
					<div id = 'individualOption4'>
						<i class="fas fa-phone"></i><h4>Contact Number: {{userwrapper.user.contact.contactNumber}}</h4>
						<i class="fas fa-at"></i><h4>E-Mail: {{userwrapper.user.contact.email}}</h4>
						<i class="fas fa-link"></i><h4>Website: {{userwrapper.user.contact.website}}</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="col-6" id='mainSide'>
			<user [userId]="0" [style]="'large'" #userwrapper></user>
		</div>

		<div class="col" id = 'rightHandSide'>
			<div class="ex3">
				<div id = 'feed'>
					<h3>Feed</h3>
					<hr>
					<div id='feedPost'>
						<img id = 'feedPic' src="assets/images/monika.jpg" width="50" height="50">      <b>Just Monica</b>
						<p>Just Monica has completed "Let's build houses in Asmat, Papua". She earned 20 points</p>
						<p align="right">3 hours ago</p>
					</div>
					<hr>
					<div id='feedPost'>
						<img id = 'feedPic' src="assets/images/adventureGuy.PNG" width="50" height="50">      <b>Robert D.</b>
						<p>Robert D. has signed up for "Solving hunger in South Africa, one child at a time". Come join him!</p>
						<p align="right">5 hours ago</p>
					</div>
					<hr>
					<div id='feedPost'>
						<img id = 'feedPic' src="assets/images/Budi.PNG" width="50" height="50">      <b>Budimulia</b>
						<p>Budimulia just leveled up to the Lion rank, congratulate him!</p>
						<p align="right">8 hours ago</p>
					</div>
					<hr>
					<div id='feedPost'>
						<img id = 'feedPic' src="assets/images/who.PNG" width="50" height="50">      <b>World Health Org.</b>
						<p>The World Health Organisation just posted an event: "African Programme for Onchocerciasis Control". Click to read more.</p>
						<p align="right">9 hours ago</p>
					</div>
					<hr>


				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!profileView" class="container-fluid">
	<div class="row">
		<user [userId]="0" [style]="'small'" (goto)="changeProfileView()">
		</user>
		<br/>
		<div id='calendar'>
			<iframe src="https://calendar.google.com/calendar/b/2/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FNew_York" style="border-width:0" width="300" height="300" frameborder="0" scrolling="no"></iframe>
		</div>
		<feed *ngIf="!searchMode" class="col-6" id='mainSide' [user]="0">

		</feed>
		<results class="col-6" id="mainSide" *ngIf="searchMode" [settings]="searchState">
		</results>
		<div class="col">
			<div id = 'rightHandSide'>
				<search-filter (update)="handleSearch($event)">
				</search-filter>
			</div>
		</div>
	</div>
</div>
