<div *ngIf="style === 'small'">
	<div id='profile' class="col">

			<img id="dp" src="assets/images/Jeff.jpg" width="100%" (click)="goToUserPage()" height=20px>

		<h2>{{ user.name }}</h2>
		<hr>
		<h3><i class="fas fa-pencil-alt"></i> Tasks Available: {{ user.events.length }}</h3>
	</div>
</div>

<div *ngIf="style === 'large'">
	<div id='sideMain'>
		<div id='mainProfile'><hr class="middle">
			<img id = 'dp' src="assets/images/Jeff.jpg" width="200" height="200">
			<div id='name'>
				<h3>{{ user.name }}</h3><hr class="middle">
			</div>
		</div>
		<div id='bigEvent'>
			<h2>"Never gonna give you up, never gonna let you down, never gonna run around and desert you."</h2>
		</div>
	</div>
</div>
