#top{
  background-color: #292f36;
  width: 100%;
  height: 7.5%;
  top: 0%;
  position: fixed;
  z-index: 10;
}

#leftHandSide{
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px black;
  height:85%;
  width:18%;
  left: 4%;
  position:fixed;
  bottom:5%;
  vertical-align: middle;

  padding: 25px;
}

h1{
  text-align: center;
}

hr {
    width: 80%;
    height: 1%;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

h2{
  font-size: 300%;
  text-align: center;
}

p{
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 150%;
  text-align: center;
}

#mainSide{
  flex-shrink: 0;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px black;
  height:90%;
  width:75%;
  left: 27.5%;
  bottom:0%;
  vertical-align: middle;
  padding: 10px;
}

h2{
  text-align: right;
  bottom: 50%;
}


a{
  padding-left: 80px;
  text-align: center;
}

body{
  background-color: #DDF2EB;
}

.button{
    left: 45%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

h3{
  width: 100%;
  padding: 5px;
  padding-top: 20%;
  text-align: center;
  font-size: 1vw;
}

#map{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 305px;
    border:3px solid #999;
    z-index: 5;
}

#logo{
  position: absolute;
  left: 35%;
  top: 60px;
  z-index: 5;
}

#companylogo{
  flex-shrink: 0;
  position: relative;
  border-radius: 60%;
  right: 0.01%;
}

#googlemap{
  float:left;
  width:50%;
  z-index: 1;
}

#interactables{
  height: 100%;
  padding-top: 10%;
  position: relative;
  text-align: center;
  margin: auto;
}

#content{
  flex: 2 2 20em;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 1vw;
  padding-left:10%;
}

#searchBar{
  float: left;
  margin: 0;
  min-width: 10px;
  width: 100%;
}
